[Unit]
Description=Cassandra
After=network.target

[Service]
Type=forking
PIDFile={{ cassandraPidFile }}

User={{ cassandraUser }}
Group={{ cassandraGroup }}

WorkingDirectory={{ cassandraInstallDir }}/cassandra
ExecStart={{ cassandraInstallDir }}/cassandra/bin/cassandra -f -p {{ cassandraPidFile }}
ExecStop=/bin/pgrep -u {{ cassandraUser }} -f cassandra | /bin/xargs /bin/kill -9

StandardOutput=journal
StandardError=journal
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity

Environment=CASSANDRA_HOME={{ cassandraInstallDir }}/cassandra
Environment=CASSANDRA_CONF={{ cassandraInstallDir }}/cassandra/conf

[Install]
WantedBy=multi-user.target